{% extends "shop/base.html" %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <div>
            <img src="{{product_detail.image}}" alt="" width="500px" heigh="500px"/>
        </div>
    </div>

    <div class="col-md-6">

        <div style="color: blue" class="card-text display-3">
            {{product_detail.title}}
        </div>

       <div style="color: black" class="card-text">   {% comment %}   --class="text-warning"  ---class="text-danger" {% endcomment %}
            Price: {{product_detail.price}} F CFA
       </div>

        <div>
            {{product_detail.description}}
        </div>
        
        
        <a href="#"><button class="btn btn-success">Acheter</button>  </a> 

    </div>
</div>
</div>


{% endblock %}